<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="aurora.css">
    <title> Aurora </title>
</head>
<body>

    <header class="header">
        <h1><em> Aurora Aksnes</em></h1>
        <nav>
            <h3><a href="">a</a></h3>
            <h3><a href="">b</a></h3>
            <h3><a href="">c</a></h3>
            <h3><a href="">d</a></h3>
        </nav>
    </header>

    <main class="main">
        <section class="main__lateral">
            1
        </section>

        <section class="main__hero">
            <div id="imagem">
                <!-- imagem -->
            </div>
            <div class="hero__1">
                <div class="lateral">
                    4
                </div>
                <div class="center">
                    <h2>
                        Curiosidades sobre AURORA
                    </h2>
                    <p>
                        Muitos já devem ter ouvido ou visto alguma matéria sobre a Aurora. Para quem não a conhece, te daremos vários motivos para conhecer. E, para quem já conhece, vem com a gente descobrir mais coisas sobre essa fadinha que já está aqui no Brasil para fazer vários shows!
                    </p>
                    <p>
                        <i>First things first:</i> Aurora Aksnes é geminiana, nascida no dia 15 de junho de 1996 em Bergen, na Noruega. Ela veio ao mundo com um talento inexplicável dentro dela, pois aprendeu a tocar sozinha piano quando tinha só seis anos de idade. Uma verdadeira prodígio! Já aos dez ela compunha canções, e aos 12 ela escreveu seu single <a href="https://www.youtube.com/results?search_query=runaway" target="_blank" rel="noopener noreferrer">Runaway</a>.
                    </p>
                    <p>
                        Bob Dylan, Leonard Cohen, Enya e Johnny Cash são seus artistas favoritos, e ela aprendeu muito com eles sobre contar histórias através das músicas. Ela acredita em contar histórias reais e não só as com finais felizes.
                    </p>
                    <p>
                        Quando Cohen faleceu em novembro de 2016, Aurora fez um tributo lindíssimo a ele cantando sua música “So Long, Marianne”.
                    </p>
                    <p>
                        No Facebook, fez um post lindíssimo falando de todo seu amor ao Cohen e como é grata por ele. “É estranho como somos lembrados que até nossos heróis vão partir desse planeta um dia".
                    </p>
                    <p>
                        Ela também é muito fã do David Bowie, até que ela fez um cover de “Life On Mars” para a série “Girls” da HBO!
                    </p>
                    <p>
                        E ah! Ela também AMA heavy metal. Sua banda favorita é Gojira. Curte Mastodon e Refused, também. Mas ela nunca escreveu nenhuma música de metal por enquanto!
                    </p>
                    <p>
                        Sagas favoritas: “Harry Potter”, “Star Wars”, “Senhor dos Anéis” e “Jogos Vorazes”. Ela AMA tudo que envolve aventura e magia.
                    </p>
                    <p>
                        Ela é uma dançarina de ballet, jazz e dança contemporânea. Ela se expressa, também, através da dança. Como muitos artistas contemporâneos, Aurora foi descoberta online, por suas músicas no Soundcloud e Youtube.
                    </p>
                    <p>
                        Ela lançou seu primeiro EP, “Running With the Wolves”, em 2015 e, desde então, vem fazendo sucesso mundo à fora. Tanto sucesso que ela chamou atenção de grandes artistas como Katy Perry, que visitou os bastidores da Aurora depois de um show em Los Angeles.
                    </p>
                    <p>
                        Katy escreveu em seu Twitter: “Finalmente. Música nova que faz meu coração vibrar. Chequem esse anjo de 17 anos”.
                    </p>
                    <p>
                        Ela também AMA a natureza. Seu último lançamento, “The River” e “The Seed” mostram bastante isso.
                    </p>
                    <p>
                        Se preocupa bastante com o meio-ambiente. Em “The Seed”, ela denuncia as mudanças climáticas e as ações humanas que estão destruindo o planeta, e diz o provérbio indiano: “você não pode comer dinheiro” no refrão. E, convenhamos, não há nada mais direto.
                    </p>
                    <p>
                        <i>“Quando a última árvore tiver sido cortada, o último peixe tiver sido pescado, o último rio tiver sido envenenado, nós perceberemos, então, que não podemos comer dinheiro”</i>, diz o provérbio.
                    </p>
                    <p>
                        Ela fez “Queendom” para todo mundo que se sente excluído. Ela se preocupa e é aliada da comunidade LGBT.
                    </p>
                    <p>
                        Ok, isso pode não ser uma baita novidade, porque quem ouve a fadinha sabe que ela direciona suas canções aos excluídos, aos LGBTs e incompreendidos. Mas Queendom foi especificamente a isso. Disse ao NME:
                    </p>
                    <hr>
                    <p>
                        <i>Escrevi sobre todas as coisas que eu mudaria e que sou apaixonada – introvertidos, excluídos, e pessoas que não estão recebendo o respeito que merecem; aqueles que não são ouvidos porque são considerados “mais fracos” do que os que falam mais alto. Essa é a inspiração básica por trás de Queendom. Nós podemos nos reunir neste mundo e sermos excluídos juntos no meu Queendom.”</i>
                    </p>
                    <hr>
                    <p>
                        Escrevi sobre todas as coisas que eu mudaria e que sou apaixonada – introvertidos, excluídos, e pessoas que não estão recebendo o respeito que merecem; aqueles que não são ouvidos porque são considerados “mais fracos” do que os que falam mais alto. Essa é a inspiração básica por trás de Queendom. Nós podemos nos reunir neste mundo e sermos excluídos juntos no meu Queendom.”
                    </p>
                    <p>
                        Ela tá na trilha sonora do remake live-action de “Dumbo”. Fez uma versão repaginada de “Baby Mine” e ficou lindo!
                    </p>
                    <p>
                        Em entrevista à Beat Magazine, ela disse que ama gatos. De preferência, pretos. Contou que é viciada em pão com manteiga e água, que poderia viver só disso! Hahah e, claro, que não pode viver sem música, ares e espaços abertos.
                    </p>
                    <p>
                        Para a Interview Magazine, Aksnes contou que gosta de ficar sozinha e é muito sensível. Ela coleciona insetos mortos, e sua mariposa morta tem o nome de Nightcrawler.
                    </p>
                    <p>
                        Aurora ama matemática, química e física. Ela gostaria de ir para um planeta onde a gravidade é tão baixa que poderia voar.
                    </p>
                    <p>
                        Também ama o cheiro de asfalto molhado e grama molhada. Canela e lavanda a lembram muito de sua mãe e de suas minhas irmãs.
                    </p>
                    <p>
                        Em entrevista a revista neozelandesa Coup De Main, Aurora disse que tem o sonho de visitar todos os lugares onde foram palco para as cenas de “Senhor dos Anéis”. Como falamos aqui acima, ela é bem fissurada mesmo!
                    </p>
                    <p>
                        Sabem a Melanie Martinez? A cantora tem uma playlist no Spotify com tem “Conqueror” da Aurorinha nela!
                        <br>
                        A estação favorita de Aksnes é o Inverno. Contou ao site Indie.vidualist: “Eu amo neve, você pode acender algumas velas e eu amo natal! Eu amo o inverno, as arvores ficam lindas”. Também contou que se fosse um animal, seria um sapo.
                    </p>
                    <hr>
                    <p><i>
                        “Eu amaria ser um sapo que vive em uma floresta tropical. Eles podem pular tão alto! E mesmo eles sendo tão pequenos eles possuem veneno para se protegerem. Eu amo sapos. Mas eu também gosto muito de corvos. Eu tenho sonhado de ser capaz de voar desde que eu estava na barriga da minha mãe. Então seria um desses.”
                    </i></p>
                    <hr>
                    <p>
                        Ela também sempre leva livros para suas turnês: “Eu sempre levo alguns livros, porque eu tenho medo de acabar um e não ter outros. Livros são sagrados para mim. E também eles cheiram tão bem”, disse à revista Oslo. Também contou que acredita em elfos.
                    </p>
                    <p>
                        Ravenclaw é sua casa em Hogwarts! 
                    </p>
                    <p>
                        Quando criança, ela odiava sua voz. Que bom que isso mudou!
                    </p>
                    <p>
                        Ela é feminista e não tem vergonha de dizer isto.
                    </p>
                    <hr>
                    <p>
                        <i>“Nos deixem ser mulheres que correm com os lobos. Nos deixem não ter medo da palavra feminista. Não é uma palavra de ódio, mas uma palavra de igualdade.

                            Mulheres podem ser fortes e homens podem ser fracos também. Todos nós podemos mostrar nossos lados frágeis e ainda sermos vistos como seres humanos fortes. Termos o direito de chorar e o direito de andar com orgulho (…) Mulheres sonharam antes de nós, e lutaram pela liberdade que temos hoje. Nós não devemos esquecer todas as guerras que mulheres antes de nós lutaram por todas as mulheres.”</i>
                    </p>
                    <hr>
                    <p>
                        Se apresentou no Lollapalooza Brasil 2018 e foi poderoso.
                    </p>
                    <p>
                        Aurora gravou um clipe e música de abertura para a novela “Deus Salve o Rei” da Rede Globo
                    </p>
                    <p>
                        E, na mesma época, em seu show em Curitiba, rolou um PEDIDO DE CASAMENTO no palco! Foi entre as músicas “Under The Water” e “I Went too far”. Parabéns ao casal John Fellix e Miguel Vale!
                    </p>
                    <p>
                        Ela foi ao Encontro com Fátima Bernardes! Mais de uma vez! Na última aparição, ela cantou o hit “Queendom”.
                    </p>
                    <p></p>
                </div>
                <div class="lateral">
                    3
                </div>
            </div>
        </section>

        <section class="main__lateral">2
        </section>
    </main>

    <footer></footer>
</body>
</html>