<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=], initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title> AURORA </title>
</head>

<body class="conteiner">

    <header class="conteiner__header">
        
        <nav class="header__nav">

            <h1> <em><a href="#bio"> AURORA </a></em> </h1>

            <ul class="nav__ul">
                <li><a href="">AMDGMAAF</a></li>
                <li><a href="">ADKOH</a></li>
                <li><a href=""> IOADK </a></li>
                <li><a href="">TGWCT</a></li>
            </ul>

        </nav>

        <div>



    </div>

    </header>

    <main class="conteiner__main">

        <section class="section1">
            <h2> Biografia </h2>
        </section>

        <div class="section2">
            <p id="bio">
                Aurora Aksnes, conhecida mononimamente como AURORA, é uma cantora, compositora e produtora musical norueguesa nascida em 15 de junho de 1996 em Stavanger, Noruega. Aurora foi criada nas cidades de Høle e Os, onde começou a escrever suas primeiras músicas e a aprender dança aos seis anos de idade.
                <br>
                Depois que algumas de suas músicas foram carregadas online e se tornaram populares na Noruega, ela assinou um contrato de gravação com a Petroleum Records, Decca e Glassnote Records em 2014. Aurora ganhou reconhecimento com seu primeiro EP,<i> Running with the Wolves</i> (2015), que continha o hit "Runaway". No mesmo ano, ela forneceu a faixa de apoio para o anúncio de Natal da John Lewis, cantando um cover da música "Half the World Away" do Oasis.
                <br>
                
                O primeiro álbum de estúdio de Aurora, <i>All My Demons Greeting Me as a Friend </i>(2016), recebeu críticas geralmente positivas, alcançando sucesso em vários países europeus e ganhando certificação de platina duas vezes na Noruega. Seu segundo EP, <i>Infections of a Different Kind (Step 1)</i> (2018), foi a primeira parte de um álbum em duas partes, enquanto a segunda parte foi seu segundo álbum de estúdio,<i> A Different Kind of Human (Step 2) </i>(2019). Seu terceiro álbum de estúdio,<i> The Gods We Can Touch</i>, foi lançado em 21 de janeiro de 2022.
                <br>
                
                A música de Aurora é principalmente electropop, folk e art pop, com vocais referidos como "etéreos". Ela só tocava piano no início de sua carreira, mas depois se envolveu em percussão e outros aspectos da produção musical. Além de seu trabalho solo, Aurora colaborou e co-escreveu músicas para outros artistas, incluindo Icarus, Askjell, Lena, Travis, Tom Odell e os Chemical Brothers. Ela também contribuiu para trilhas sonoras de vários filmes e séries de televisão, incluindo Girls, Frozen II, Wolfwalkers e a série live-action One Piece da Netflix.
            </p>
        </div>

        <section class="section1">

        <h2> AMDGMAAF </h2>

        <p> All My Demons Greeting Me As A Friend </p>

        </section>

        <div class="section2">

            <div class="main__div">
                <div>
                <h4> Álbum de estreia </h4>
                <h6> 2016</h6><br>
                <p> O álbum de estreia de Aurora, <i>'All My Demons Greeting Me as a Friend'</i>, possui esse nome por se referir a parte mais obscura que as pessoas possuem, mas que têm medo de revelar. <br><br>
                    Segundo Aurora: <br><i>"Meu álbum fala principalmente sobre como experiências ruins do passado podem se tornar boas memórias."</i><br><br>O single <i>"Running with the Wolves" </i>foi usado na série Wolfblood (Temporadas 4-5).<br><br> O single <i>"Conqueror"</i> foi incluído na trilha sonora do FIFA 16.<br><br> Seu cover <i>“Life on Mars”</i> de David Bowie foi incorporado na quinta temporada da série Girls.<br><br> A música <i>"Murder Song (5, 4, 3, 2, 1)"</i> foi usada na série The Flash, no 22° episódio da terceira temporada. </p>
                </div>
            </div>

            <div class="main__div">
                <div>
                <p> “Para mim, as histórias são as coisas mais importantes. Eu quero que minhas músicas tenham algum significado. Eu espero que façam as pessoas sentirem algo, porque nós estamos, muitas vezes, com medo de chorar. Todos sempre dizem que estão bem, mas você não está sempre bem. Música o ajuda a entrar em contato com as suas próprias emoções.”</p>
                <h5>Aurora Aksnes</h5>
                </div>
            </div>

        </div>

        <section class="section1">

            <h2> ADKOH </h2>
    
            <p> A Different Kind of Human </p>
    
            </section>
    
            <div class="section2">

                <div class="main__div">
                    <div>
                    <p>
                        “Há uma compreensão mais profunda de mim mesma e do que eu quero dizer e fazer do que no meu primeiro álbum. Está mais sintonizado com minha alma e quem eu sou. Trata-se dos muitos, muitos aspectos diferentes do que é ser humano. Abrange a maneira como machucamos e amamos e a maneira como somos tão bonitos, mas também tão horríveis”.
                    </p>
                    <h5>Aurora Aksnes</h5>
                    <br>
                    <br>
                    <p>
                        “Tenho muitas perguntas sobre religiões e a maneira como as pessoas lutaram, mataram e salvaram em seu nome. Então, nesta música, estou olhando para isso do ponto de vista de uma pessoa em dor. Quem pede para Deus estar em todos nós”
                    </p>
                    <h5>Aurora Aksnes</h5>
                    </div>
                </div>
    
                <div class="main__div">
                    <div>
                    <h4> Step 1 (1/2) </h4>
                    <h6> 2018</h6><br>
                    <p>
                        <i>“Infections of a Different Kind – Step 1.”</i> é o título e nome da faixa principal.
                        <br><br>
                        A música fala sobre a interconexão do sofrimento humano e o desejo de um poder superior para proporcionar alívio e contempla a ideia de um Deus, questionando se tal ser sequer conheceria a dor e o sofrimento da humanidade.
                    </p>
                    </div>
                </div>
    
            </div>

    </main>

    <footer class="conteiner__footer"></footer>
</body>
</html>