<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> PRINCIPAL </title>
    <link rel="stylesheet" href="padrao.css">
</head>

<body>

    <header>

    </header>

    <main>

        <section class="cabecalho">

            <table id="menu">
                <tr>
                    <td><a href="main.html"> Principal </a></td>
                    <td><a href="pagina2.html"> Página2 </a></td>
                    <td><a href=".html"> Página3 </a></td>
                    <td><a href=".html"> Página4 </a></td>
                    <td><a href=".html"> Página4 </a></td>
                </tr>
            </table>

        </section>
        <!-- sessao 01 da principal -->

        <section class="main1">

            <table>
                <tr>
                    <td>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi autem incidunt saepe corrupti assumenda possimus, modi, facilis ratione beatae recusandae obcaecati iste? Iste eaque rem consequatur harum omnis sequi atque ipsum sunt, expedita commodi quas perferendis? Reprehenderit, ipsum assumenda at praesentium illum earum laboriosam rem quam adipisci nesciunt excepturi distinctio.
                        </p>
                    </td>
                    <td>
                        <div class="main1-1">
                            <center>
                            <table>
                                <tr>
                                    <td>a</td>
                                    <td>b</td>
                                </tr>
                                <tr>
                                    <td>a</td>
                                    <td>a</td>
                                </tr>
                            </table>
                            </center>
                        </div>
                    </td>
                </tr>
            </table>

        </section>

        <section class="main2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus recusandae animi doloremque fuga possimus accusantium! Nihil placeat minus minima sapiente!
        </section>
        

    </main>

    <footer>
    </footer>

</body>
</html>