<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="page1.css">
    <title> Login </title>
</head>
<body>
    <header>
        <div class="grid-container">
            <div class="grid-item header">
              <img src="logo.png" alt="Logo" class="logo">
              <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Join</a></li>
              </ul>
            </div>
    </header>
    <main>
        <div class="grid-item main">
            <h1>START FOR FREE</h1>
            <p>Create new account.</p>
            <p>Already a Member? <a href="#">Log in</a></p>
            <form class="form">
              <input type="text" name="name" placeholder="Name">
              <input type="text" name="email" placeholder="Email">
              <input type="password" name="password" placeholder="Password">
              <button type="submit">Create account</button>
            </form>
          </div>
    </main>
    <footer>
        <div class="grid-item footer">
            <img src="app-logo.png" alt="App Logo" class="app-logo">
        </div>
    </footer>
</body>
</html>