<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="page2.css">
    <title>
        page2
    </title>
</head>
<body>
    <header id="cabecalho">
        <h1>
            Título <em> Principal</em> 
        </h1>
        <nav>
            <input type="text" name="busca" id="busca" placeholder="Busque palavras chave aqui">
            <button type="submit">Buscar</button>
        </nav>
    </header>
    <main>
        <section class="section_1">
            <div id="section_1_img">
            </div>
            <div class="section_1_texts">
                <div id="texts_1">
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, veritatis tempora dicta voluptatum accusantium magni ea perferendis, ad ex dolore quidem architecto quam nesciunt, ipsum eaque repellat delectus dolores quos.
                    </p>
                </div>
                <div id="texts_2">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident veritatis, accusantium quaerat eaque quae iure. Dolorum exercitationem perferendis cumque omnis odio iure nostrum sunt illum impedit in! Sequi dolorum nihil saepe voluptatum corporis quasi dolore tenetur obcaecati recusandae consectetur consequatur vel molestias maiores at voluptate, facilis aliquid.
                    </p>
                </div>
            </div>
        </section>
        <section class="section_2">
            <div id="section_2_video">
                <iframe width="700" height="360" src="https://www.youtube.com/embed/yO-k6SUVt2o?si=KR05qHWhOJ5b0Zxn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div id="section_2_texts">
                <h2>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, aliquam. Dicta, cumque!
                </h2>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi odio nostrum quis alias consectetur temporibus iste animi amet, itaque accusamus dolorum incidunt laborum aut dolores iure hic neque, laboriosam molestias accusantium commodi quas omnis ea. Culpa, aspernatur saepe. Impedit voluptates rerum, delectus dolor accusamus quaerat earum laboriosam assumenda aspernatur, doloribus neque porro mollitia maiores modi quia ea! Quam quae perspiciatis excepturi saepe voluptate! Culpa quas architecto ratione at corporis dolorem assumenda optio aspernatur! Aspernatur maiores eos molestias eligendi assumenda delectus?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, fuga natus. Repudiandae soluta maxime voluptatem quibusdam animi qui voluptates, corporis ratione doloremque perspiciatis molestiae at adipisci culpa consequuntur reiciendis eius sequi porro earum autem fuga, voluptas sapiente quis. Cumque quo deleniti, ab voluptatibus veniam quisquam quas reprehenderit?
                </p>
            </div>
        </section>
        <section class="section_3">
            <div id="section_3_principal">
                <div id="div_section3">
                    <div id="img_31">
                    </div>
                    <div id="text_31">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam natus optio repellendus unde vero quidem consequatur maiores incidunt ab minus id non officia, tempore recusandae maxime, eum dolorum. Atque quibusdam libero minima officia aliquam magnam suscipit ex praesentium et odio.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>    
    <footer></footer>
</body>
</html>