<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="page.css">
    <title>Document</title>
</head>
<body>
    <header></header>
    <main>
        <div class="container">
            <div class="image"></div>
            <div class="form">
              <h1>Cadastre-se na Agência de Viagens</h1>
              <input type="text" placeholder="Primeiro nome">
              <input type="text" placeholder="Sobrenome">
              <input type="email" placeholder="E-mail">
              <input type="password" placeholder="Sua senha">
              <label><input type="checkbox">Eu concordo com os Termos e Condições</label>
              <button>Inscrever-se</button>
              <a href="#">já tem uma conta? Conecte-se</a>
            </div>
          </div>
    </main>
    <footer></footer>
</body>
</html>