<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página2</title>
    <link rel="stylesheet" href="padrao.css">
</head>

<body>

    <header>

       

    </header>

    <main>

         <!-- cabeçalho de deslocamento -->

         <table id="menu">
            <tr>
                <td><a href="main.html"> Principal </a></td>
                <td><a href="pagina2.html"> Página2 </a></td>
                <td><a href=".html"> Página3 </a></td>
                <td><a href=".html"> Página4 </a></td>
                <td><a href=".html"> Página4 </a></td>
            </tr>
        </table>

                
            <div class="pagina2A">
                <h2>
                    PÁGINA 2
                </h2>
            </div>

            <div class="pagina2B">
                <h2>
                    PÁGINA 2
                </h2>
            </div>
    </main>
</body>
</html>