* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: lightcyan;
    display: grid;
    grid-template-areas:
    "header header header"
    "aside article article"
    "aside article article"
    "footer footer footer";
    grid-template-columns: 30% 65%;
    grid-template-rows: 10% 75% 10% ;
}

.header {
    grid-area: header;
    background-color:aquamarine;
}

.aside {
    grid-area: aside;
    background-color: blueviolet;
}

.article {
    grid-area: article;
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: space-around;
}

.article div {
    height: 130px;
    width: 130px;
    background-color: black;
    margin-bottom: 7px;
}

.footer {
    grid-area: footer;
    background-color: chocolate;
}