* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: lightslategray;
    display: grid;
    grid-template-areas:
        "area1 area1 area1 area1 area2"
        "area3 area3 area4 area4 area5 "
        "area3 area3 area4 area4 area5 "
        "area6 area7 area4 area4 area5"
        "area6 area7 area8 area9 area5"
        "area6 area7 area8 area9 area5";
    grid-template-columns: 25% 24% 15% 15% 20%;
    grid-template-rows: 15% 19% 15% 25% 22%;

    row-gap: 2px;
    column-gap: 2px;
}

.area1 {
    grid-area: area1;
    background-color: white;
}

.area2 {
    grid-area: area2;
    background-color: yellow;
}

.area3 {
    grid-area: area3;
    background-color: whitesmoke;
}

.area4 {
    grid-area: area4;
    background-color: blue;
}

.area5 {
    grid-area: area5;
    background-color: white;
}

.area6 {
    grid-area: area6;
    background-color: yellow;
}

.area7 {
    grid-area: area7;
    background-color: red;
}

.area8 {
    grid-area: area8;
    background-color:white;
}

.area9 {
    grid-area: area9;
    background-color: black;
}
