* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.hero {
    background: url(/01.02/assets/images/home.png) no-repeat cover;
    background-size: cover;
}