* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 98vw;
}

footer {
    background-color: #1c1c1c;
}

a {
    text-decoration: none;
}

.container-fluid {
    width: 100vw;
}

.row {
    max-width: 600px;
    margin: 0px auto;
}

.largura {
    height: 10vh;
    margin: 0px auto;
}

#main {
    width: 98vw;
    height: 80vh;
}

strong {
    color: rgb(24, 24, 159);
}