* {
    margin: 0px;
    padding: 0px;
}

h1 {
    color: white;
    height: 200px;
    background-color: gainsboro;
    width: 200px;
    display: inline-block;
}

p {
    font-size: 16px;
    height: 200px;
}

div {
    height: 200px;
    width: 200px;
    display: inline-block;
}