* {
    margin: 0px;
    padding: 0px;
}

.tamanho {
    width: 200px;
    height: 200px;
}

.comportamento {
    display: inline-block ;
}

h1 {
    color: white;
    background-color: gainsboro;
}

p {
    font-size: 16px;
}
