:root {

    --cor-de-fundo:#DFE0DF;
    
    --cor-primaria:#F7B600;
    --cor-secundaria:#594317;
    --cor-terciaria:#402E32;

    --fonte-primaria: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: var(--fonte-primaria);
    background-color: var(--cor-de-fundo);
}

/* main da página */

.principal {
    width: 920px;
    margin: 0px auto;
    padding: 15px;
    height: auto;
}

/* area do cabeçalho */

.cabecalho {
    height: 5em;
    padding: 1em;
    background-color: var(--cor-primaria);
    text-align: center;
    position: sticky;
    top: 0;
    left: 0;

}
.cabecalho__titulo {
    color: var(--cor-secundaria);
    font-size: 2.5em;
    text-transform: capitalize;
}

.cabecalho__titulo span {
    color: var(--cor-de-fundo);
}

.cabecalho__links a {
    text-decoration: none;
    font-size: 18px;
    margin: 1em;
    color: var(--cor-secundaria);
}

.cabecalho__links a:hover {
    text-decoration: none;
    font-size: 19px;
    transition: 0.75s;
    margin: 1em;
    color: var(--cor-terciaria);
}

/*seleção principal*/

.principal__postagens {
    width: 655px;
    float: left;
    margin-bottom: 10px;
}

.postagens__conteiner {
    margin-bottom: 20px;
}

.postagens__conteiner img {
    border-radius: 6px;
}

.postagens__conteiner h2 {
    text-transform: uppercase;
}

.postagens__conteiner p {
    text-align: justify;
    margin: 2px;
}

.postagens__conteiner spam {
    font-size: 10px;
    border-bottom: 1px solid var(--cor-secundaria);
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}

.conteiner__titulo{
    margin: 15px;
    color: var(--cor-primaria);
}

/* lateral da tela */

.principal__lateral {
    width: 235px;
    display: inline-block;
}

.conteudo__titulo {
    margin-bottom: 20px;
    padding: 15px;
    color: var(--cor-secundaria);
}

.conteudo__postagens {
    margin-bottom: 12px;
    font-size: 0.9em;
    padding: 10px;
    border-bottom: 1px dotted var(--cor-secundaria);
}

.conteudo__postagens a {
    color: var(--cor-terciaria);
    text-decoration: none;
}

.lateral__conteudo {
    background-color: var(--cor-de-fundo);
    padding: 10px;
    margin-bottom: 20px;
}

/* rodape */

.rodape {
    clear: both;
    text-align: center;
    padding: 15px;
    background-color: var(--cor-secundaria);
    color: var(--cor-de-fundo);
}